*{
    margin: 0px;
    font-family: sans-serif;
}


/* header section start */

header{
    
    background-image: url(../images/banner/banner3.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 270px 0px;
}
.sec-header{
    padding-right: 200px;
}

 .header-title{
        text-align: right;
        color: white;
        font-size: 35px;
        font-weight: 500px;
 }
 .header-discrip{
    text-align: right;
    font-size: 18px;
    color: white;
    margin: 30px 0px;

 }
 .header-btn{
    font-size: 18px;
    font-weight: 400;
    color: #1770AC;
    background-color: white;
    border: 0px;
    padding: 15px 30px;
    border-radius: 5px;
 }
 .btn-right{
    display: flex;
    justify-content: right;
 }
 
/* header section end */
/* ==========================================================
============================================================= */
/* about section start */
.about-sec{
    display: flex;
    justify-content: space-between;
    padding: 150px 300px;
    align-items: center;
}
.about-image{

}
.my-discrip{
    margin-left: 150px;
}
.discrip-title{
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}
.discrip-me{
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin: 20px 0px;
}
.discrip-list li{
    list-style: none;
}
.discrip-list{
    font-size: 16px;
    font-weight: 100;
    margin-left: 30px;
}
/* about section end */
/* ==============================================================
============================================================= */
/* my plan section start */
.plan-sec{
        padding: 150px 0px;

}
.plan-title{
        text-align: center;
        color: black;
        font-size: 35px;
        font-weight: 500px;
        margin-bottom: 50px;
}
.plans{
    display: flex;
    justify-content: center;
    gap: 150px;
}
/* 

.web{

}
.js{

}
.smoking{

}
.ecommerce{

} 
 */
.p-title{
    font-size: 24px;
    text-align: left;
}
.p-discrip{
    font-size: 20px;
    text-align: left;
}

/* my plan section end */
/* ==============================================================
============================================================= */
/* mini banner start */

.mini-banner{

    background-image: linear-gradient(to right, rgba(23, 112, 172,100), rgba(0,0,0,0)60%), url(../images/watch.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 8px;
    padding: 50px 200px 50px ;
    margin: 150px 250px;
}
.mbanner-title{
    text-align: left;
    color: white;
    font-size: 35px;
    font-weight: 500px;
    margin-bottom: 30px;
}
.mbanner-btn{
    font-size: 18px;
    font-weight: 400;
    color: #1770AC;
    background-color: white;
    border: 0px;
    padding: 15px 30px;
    border-radius: 5px;
}
/* mini banner section end */
/* ==============================================================
============================================================= */
/* get in touch start */
.get-touch{
    background-color: #1770AC;
    padding: 200px 0px;
    
}
.get-title{
    color: white;
    font-size: 45px;
    font-weight: 400;
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    padding: 50px;
    background-color: white;
    margin: 30px 350px;
    border-radius: 12px;
}
.f-email{
    font-size: 18px;
    padding: 20px 45px;
    border: 2px solid #1770AC;
    border-radius: 6px 0px 0px 6px;
}
.f-submit{
    font-size: 18px;
    padding: 20px 30px;
    color: white;
    background-color: #1770AC;
    border: 0px;
    border-radius: 0px 6px 6px 0px;
}

/* get in touch section end */
/* ==============================================================
============================================================= */
